#moive{
  background-color: pink;
  }
  #mov1{
    color: black;
    font-size: 35px;
  }
  #mov2{
    background-color: rgb(10, 78, 66)
  }
  #mov3{
    color: lightgray;
    margin-top: 10px;
  }
  #mov4{
    height: 520px;
  }